Q1. How can we store a single quote (‘) as a string in a variable?

In [1]:
single_quote_as_a_string = "'"
print(single_quote_as_a_string)

# you can enclose the single quote within double quotes ("") to represent it as a string.

'

Q2. Refer the below variable:
x = 'a'
Here, is x a character type or string type variable? Support your answer with an explanation.

In [2]:
x='a'
type(x)

str

In [3]:
#In Python, any sequence of characters enclosed in single quotes ('') or double quotes ("") is considered a string.
#In this case, the value assigned to x is 'a', which represents a string containing a single character, 'a'.

Q3. Apply the following functions on this variable: ‘Welcome to Python foundation course'
1. find ()
2. count()
3. len()
4. Concatenation

Note: You can use your choice of parameters. But make sure it is correct.

In [4]:
s="Welcome to Python foundation course"

In [5]:
s

'Welcome to Python foundation course'

In [6]:
s.find('o')

4

In [7]:
s.count('o')

6

In [8]:
len(s)

35

In [9]:
#concatenation
s+" Welcome to sudhanshu sir's class"

"Welcome to Python foundation course Welcome to sudhanshu sir's class"

Q4. For the variable: word = 'PanaJi@12256'
Calculate the following:

      (a) Total number of alphabets in lowercase

      (b) Total number of alphabets in uppercase

      (c) Total number of numerical in string

In [11]:
word='PanaJi@12256'

In [31]:
word = 'PanaJi@12256'
lowercase_count = sum(1 for char in word if char.islower())
print("Total number of alphabets in lowercase:", lowercase_count)

Total number of alphabets in lowercase: 4

In [32]:
word = 'PanaJi@12256'
uppercase_count = sum(1 for char in word if char.isupper())
print("Total number of alphabets in uppercase:", uppercase_count)

Total number of alphabets in uppercase: 2

In [37]:
word = 'PanaJi@12256'
numeric_count = sum(1 for char in word if char.isdigit())
print("Total number of numerical characters:", numeric_count)

Total number of numerical characters: 5

Q5. Write a code to store a numerical value inside a variable then convert it into string.

In [38]:
num_val=123

In [39]:
str(num_val)

'123'

In [40]:
type(str(num_val))

str

In [42]:
type(num_val)

int